<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Sensors</h3>
    <hr>



    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>From Room</th>
            <th>IP</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="sensor : ${sensorsList}">
            <td th:text="${sensor.id}"/>
            <td th:text="${sensor.type}"/>

            <td>
            <form action="#"  th:action="@{/sensorsTL/submitRoomToSensor/{id}(id=${sensor.id})}" th:object="${sensorDTO}" method="post">
                       <select name="roomId"  >
                           <option th:text="${sensor.getRoom()?.getId()}" ></option>
                           <option  th:each="room :${roomList}"
                                    th:text="${room.id}">
                        </select>
                <input type="submit" value="Save" />
            </form>
            </td>

<!--            <td><select name="roomList">-->
<!--                <option th:each="room:${roomList}"-->
<!--                        th:text="${room.id}">-->
<!--            </select>-->
<!--                <input type="submit" value="Save" />-->
<!--            </td>-->

<!--            <td>-->
<!--                <form name='f' th:object="${sensorDTO}" method='POST'>-->
<!--                <select th:field="*{roomId}">-->
<!--                    <option value=""> ${sensor.room.id} </option>-->
<!--                    <option th:each="room : ${roomList}"-->
<!--                            th:value="${room.id}"-->
<!--                            th:utext="${room.name}"/>-->
<!--                </select>-->
<!--                </form>-->
<!--            </td>-->

<!--            <td th:text="${sensor.room}" />-->

            <td th:text="${sensor.IP}"/>
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>
