<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Measurements</h3>
    <hr>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Measurement</th>
            <th>From Sensor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="measurement : ${measurement}">
            <td th:text="${measurement.id}"/>
            <td th:text="${measurement.measurement}"/>
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>
